struktur-data/pertemuan-1/soal.exe
struktur-data/pertemuan-2/main.exe
struktur-data/pertemuan-2/soal.exe
diskrit-2/graph/mst-prim/.vscode/settings.json
diskrit-2/graph/mst-prim/diskrit.exe
diskrit-2/graph/graph-tree/.vscode/settings.json
diskrit-2/graph/graph-tree/diskrit.exe
diskrit-2/graph/graph-mst/.vscode/settings.json
diskrit-2/graph/graph-mst/diskrit.exe
diskrit-2/graph/graph-coloring/diskrit.exe
.vscode/tasks.json
.vscode/settings.json
struktur-data/pertemuan-3/main.exe
struktur-data/pertemuan-4/soal.exe
struktur-data/pertemuan-0/soal.exe
.gitignore
struktur-data/pertemuan-5/main.exe
.gitignore
.vscode/c_cpp_properties.json
struktur-data/pertemuan-4/soal
